$inputHeight: 48px;
$menuHeight: 40px;
$chatMargin: 0px;
$chatRadius: 0px;
$usernameRadius: 4px;

.chat {
  background: var(--dark2); 
  width: calc(100% - $chatMargin * 2);
  height: calc(100% - $menuHeight - $chatMargin * 2);
  margin: calc($chatMargin) 0 0 calc($chatMargin);
  border-radius: $chatRadius;
  font-size: 1em;
  position: relative;
  .line {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: $inputHeight;
    height: 1px;
    background-color: var(--dark6);
  }

  .messages {
    width: 100%;
    height: calc(100% - $inputHeight);
    overflow-y: auto;
    padding-top: 8px;
    box-sizing: border-box;
    .message {
      width: 100%;
      padding: 10px 4px 10px 4px;
      box-sizing: border-box;
      display: flex;
      &:hover {
        background: #5554;
      }
      .avatar {
        width: 40px;
        height: 40px;
        flex-basis: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: red;
        z-index: 1;
        border-top-left-radius: $usernameRadius;
        border-bottom-left-radius: $usernameRadius;
        border-bottom-right-radius: $usernameRadius;
        img {
          border-radius: $usernameRadius;
          width: calc(100% - 6px);
          height: calc(100% - 6px);
        }
      }
      .content {
        width: calc(100% - 44px);
        position: relative;
        .contextMenu {
          right: 0;
          top: 0;
        }
        .hour {
          position: absolute;
          top: -2px;
          right: 2px;
          font-size: 12px;
          color: #777;
        }
        .settings {
          position: absolute;
          top: -2px;
          right: 2px;
          display: none;
        }
        &:hover .settings {
          display: inline-block;
        }
        &:hover .hour {
          display: none;
        }
        .contentText {
          font-size: 12px;
          padding: 2px 6px 0 6px;
          line-height: 18px;
        }
        .usernamebar {
          width: 100%;
          margin-bottom: 3px;
          margin-top: -2px;
          font-weight: 600;
          .username {
            cursor: pointer;
          }
          .rank, .username {
            font-size: 12px;
            padding: 2px 5px 2px 5px;
            transform: skewX(-20deg);
            display: inline-block;
            span {
              display: inline-block;
              transform: skewX(20deg);
            }
          }
          .rank {
            margin: 0 0 0 -4px;
            padding-left: 8px;
          }
        }
      }
    }
  }

  .notLoggedIn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bbb;
    button {
      margin-right: 8px;
    }
  }
  .inputs {
    width: 100%;
    input[type=text] {
      font-size: 1em;
      outline: 0;
      width: calc(100% - $inputHeight - $chatMargin);
      height: calc($inputHeight - $chatMargin * 2);
      border: 0;
      padding: 0;
      margin: $chatMargin 0 0 $chatMargin;
      //background-color: var(--dark5);
      background-color: transparent;
      padding: 16px;
      box-sizing: border-box;
      border-bottom-left-radius: $chatRadius;
      border-top-left-radius: $chatRadius;
      vertical-align: top;
    }
    .showEmotesButton {
      vertical-align: top;
      font-size: 1.75em;
      border: 0;
      width: calc($inputHeight - $chatMargin);
      height: calc($inputHeight - $chatMargin * 2);
      padding: 0;
      margin: 0;
      //background-color: var(--dark5);
      background-color: transparent;
      border-top-right-radius: $chatRadius;
      border-bottom-right-radius: $chatRadius;
      cursor: pointer;
      i {
        color: #777;
        transition: 0.1s color;
      }
      &:hover > i {
        color: #fdcb6e;
      }
    }
  }
}