div {
  width: 100%;
  nav {
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 20px;
    padding-right: 10px;
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    a {
      height: fit-content;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 16px 20px 16px 20px;
      flex-direction: row;
      text-decoration: none;
      word-spacing: 2px;
      display: inline-flex;
      transform: skewX(-20deg);
      font-weight: 600;
      font-size: 1em;
      span {
        transform: skewX(20deg);
        text-align: center;
        display: flex;
        align-items: center;
        i {
          font-size: 1.3em;
          margin-right: 6px;
        }
      }
      background-color: var(--dark3);
      transition: 0.1s background-color, 0.1s box-shadow;
      &:nth-child(even) {
        background-color: var(--dark4);
      }
      &:hover, &.router-link-exact-active, &.router-link-active {
        z-index: 1;
        background-color: var(--defaultColor);
        box-shadow: 0 0 20px var(--defaultHoverColor);
      }

      img {
        height: 80%;
      }
    }
  }
}