$chatWidth: 310px;
$gamesMenuHeight: 90px;
$menuHeight: 40px;
$defaultMargin: 8px;
$profileBarWidth: 310px;

.mainContainer, .logoContainer, .gamesMenuContainer, .chatContainer {
  display: inline-flex;
}

.logoContainer {
  background: var(--dark2);
  width: $chatWidth;
  height: $gamesMenuHeight;
  align-items: center;
  justify-content: center;
  flex-basis: $chatWidth;
}

.gamesMenuContainer {
  background: var(--dark2);
  width: calc(100% - $chatWidth - $profileBarWidth);
  height: $gamesMenuHeight;
  flex-basis: calc(100% - $chatWidth - $profileBarWidth);
}

.profileBarContainer {
  background: var(--dark2);
  width: $profileBarWidth;
  height: $gamesMenuHeight;
  flex-basis: $profileBarWidth;
}

.chatContainer {
  width: $chatWidth;
  height: calc(100% - $gamesMenuHeight);
  flex-basis: $chatWidth;
  flex-flow: column;
}

.mainContainer {
  width: calc(100% - $chatWidth);
  height: calc(100% - $gamesMenuHeight);
  flex-wrap: wrap;
  flex: 1;
}

.menuContainer {
  background: var(--dark3);
  width: 100%;
  height: $menuHeight;
  flex-basis: 100%;
}

.routeContainer {
  width: 100%;
  height: calc(100% - $menuHeight);
  flex-basis: 100%;
  background-color: #111b;
}

@media only screen and (max-width: 900px) {
  .logoContainer {
    width: 100%;
    height: $gamesMenuHeight;
    flex-basis: 100%;
  }
  
  .gamesMenuContainer {
    width: calc(100% - 10px);
    height: $gamesMenuHeight;
    flex-basis: 100%;
  }

  .profileBarContainer {
    background: var(--dark2);
    width: 100%;
    height: $gamesMenuHeight;
    flex-basis: 100%;
  }
  
  .chatContainer {
    width: 100%;
    height: calc(100% - $gamesMenuHeight * 3 - $menuHeight);
    flex-basis: 100%;
    position: absolute;
    top: calc($gamesMenuHeight * 3 + $menuHeight * 2);
    display: none;
  }
  .showChatButton {
    display: inline-block;
    top: calc($gamesMenuHeight * 3 + $menuHeight + $defaultMargin);
  }
  
  .mainContainer {
    width: 100%;
    height: calc(100% - $gamesMenuHeight * 3);
  }
  
  .menuContainer {
    width: 100%;
    height: $menuHeight * 2;
    flex-basis: 100%;
  }
  
  .routeContainer {
    width: 100%;
    height: calc(100% - $menuHeight);
    flex-basis: 100%;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--defaultColor);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--defaultHoverColor);
}