$chatWidth: 310px;
$gamesMenuHeight: 90px;
$menuHeight: 40px;
$defaultMargin: 8px;
$profileBarWidth: 310px;

.mainContainer, .logoContainer, .gamesMenuContainer, .chatContainer {
  display: inline-flex;
}

.logoContainer {
  background: var(--dark2);
  width: $chatWidth;
  height: $gamesMenuHeight;
  align-items: center;
  justify-content: center;
  flex-basis: $chatWidth;
}

.gamesMenuContainer {
  background: var(--dark2);
  width: calc(100% - $chatWidth - $profileBarWidth);
  height: $gamesMenuHeight;
  flex-basis: calc(100% - $chatWidth - $profileBarWidth);
}

.profileBarContainer {
  background: var(--dark2);
  width: $profileBarWidth;
  height: $gamesMenuHeight;
  flex-basis: $profileBarWidth;
}

.chatContainer {
  background: var(--dark4);
  width: $chatWidth;
  height: calc(100% - $gamesMenuHeight);
  flex-basis: $chatWidth;
}
.showChatButton {
  width: 32px;
  height: 32px;
  background: yellow;
  position: absolute;
  top: calc($gamesMenuHeight * 3 + $menuHeight + $defaultMargin);
  left: $defaultMargin;
  display: none;
}

.mainContainer {
  width: calc(100% - $chatWidth);
  height: calc(100% - $gamesMenuHeight);
  flex-wrap: wrap;
}

.menuContainer {
  background: var(--dark3);
  width: 100%;
  height: $menuHeight;
  flex-basis: 100%;
}

.routeContainer {
  background: var(--dark5);
  width: 100%;
  height: calc(100% - $menuHeight);
  flex-basis: 100%;
}

@media only screen and (max-width: 900px) {
  .logoContainer {
    width: 100%;
    height: $gamesMenuHeight;
    flex-basis: 100%;
  }
  
  .gamesMenuContainer {
    width: 100%;
    height: $gamesMenuHeight;
    flex-basis: 100%;
  }

  .profileBarContainer {
    background: var(--dark2);
    width: 100%;
    height: $gamesMenuHeight;
    flex-basis: 100%;
  }
  
  .chatContainer {
    width: 100%;
    height: calc(100% - $gamesMenuHeight * 3 - $menuHeight);
    flex-basis: 100%;
    position: absolute;
    top: calc($gamesMenuHeight * 3 + $menuHeight);
    display: none;
  }
  .showChatButton {
    display: inline-block;
  }
  
  .mainContainer {
    width: 100%;
    height: calc(100% - $gamesMenuHeight * 3);
  }
  
  .menuContainer {
    width: 100%;
    height: $menuHeight;
    flex-basis: 100%;
  }
  
  .routeContainer {
    width: 100%;
    height: calc(100% - $menuHeight);
    flex-basis: 100%;
  }
}