@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;400;800&display=swap');

* {
  color: #eee;
  font-family: 'Sora', sans-serif;
}

:root {
  --defaultColor: #fff;

  --dark1: #080808;
  --dark2: #161616;
  --dark3: #202020;
  --dark4: #282828;
  --dark5: #323232;

  --defaultMargin: 8px;
}

.red {
  --defaultColor: #c0392b;
  --defaultHoverColor: #a0241c;
}
.green {
  --defaultColor: #5a903c;
  --defaultHoverColor: #28701c;
}
.blue {
  --defaultColor: #0984e3;
  --defaultHoverColor: #0664b3;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
}

body {
  background-color: #111118;
  margin: 0;
}

.defaultButton {
  cursor: pointer;
  background-color: var(--defaultColor);
  border: 0;
  //border-radius: 4px;
  //box-shadow: 4px 4px 0px var(--defaultHoverColor);
  //transition: 0.04s box-shadow, 0.04s margin;
  transition: 0.1s transform;
  display: inline-block;
  box-shadow: 0 0 12px var(--defaultHoverColor), 0 0 12px var(--defaultHoverColor);
  transform: skewX(-20deg);
  span {
    transition: 0.1s transform;
    display: block;
    transform: skewX(20deg);
  }

  &:hover {
    transform: skewX(0deg);
    span {
      transform: skewX(0deg);
    }
  }
  &.small {
    font-size: 0.7em;
    padding: 6px 9px 6px 9px;
  }
  &.medium {
    font-size: 1.2em;
    padding: 8px 12px 8px 12px;
  }
  &.big {
    font-size: 1.3em;
    padding: 12px 24px 12px 24px;
    font-weight: 600;
  }
}
