@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;400;800&display=swap');

* {
  color: #eee;
  font-family: 'Sora', sans-serif;
}

:root {
  --defaultColor: #fff;

  --dark1: #08080888;
  --dark2: #16161688;
  --dark3: #20202088;
  --dark4: #28282888;
  --dark5: #32323288;
  --dark6: #48484888;

  --dark1NA: #080808;
  --dark2NA: #161616;
  --dark3NA: #202020;
  --dark4NA: #282828;
  --dark5NA: #323232;
  --dark6NA: #484848;

  --defaultMargin: 8px;
}

.red {
  --defaultColor: #c0392b;
  --defaultHoverColor: #a0241c;
}
.green {
  --defaultColor: #5a903c;
  --defaultHoverColor: #28701c;
}
.blue {
  --defaultColor: #0984e3;
  --defaultHoverColor: #0664b3;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
}

body {
  background-color: #1d1e1e;
  background-image: url(../assets/background.jpg);
  margin: 0;
  background-position: 50%;
  background-size: auto 125%;
  background-repeat: no-repeat;
}

.defaultButton {
  cursor: pointer;
  background-color: var(--defaultColor);
  border: 0;
  //border-radius: 4px;
  //box-shadow: 4px 4px 0px var(--defaultHoverColor);
  //transition: 0.04s box-shadow, 0.04s margin;
  transition: 0.1s transform;
  display: inline-block;
  box-shadow: 0 0 12px var(--defaultHoverColor), 0 0 12px var(--defaultHoverColor);
  transform: skewX(-20deg);
  span {
    transition: 0.1s transform;
    display: block;
    transform: skewX(20deg);
  }

  &:hover {
    transform: skewX(0deg);
    span {
      transform: skewX(0deg);
    }
  }
  &.small {
    font-size: 0.7em;
    padding: 6px 9px 6px 9px;
  }
  &.medium {
    font-size: 1.2em;
    padding: 8px 12px 8px 12px;
  }
  &.big {
    font-size: 1.3em;
    padding: 12px 24px 12px 24px;
    font-weight: 600;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}