@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;400;800&display=swap');

* {
  color: #eee;
  font-family: 'Sora', sans-serif;
}

:root {
  --defaultColor: #fff;

  --dark1: #080808;
  --dark2: #161616;
  --dark3: #202020;
  --dark4: #282828;
  --dark5: #323232;

  --defaultMargin: 8px;
}

#app {
  &.blue {
    --defaultColor: #14e;
  }
  &.red {
    --defaultColor: #e12;
  }

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

body {
  background-color: #111118;
  margin: 0;
}

nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}